.sidebar {
  width: 260px;
  height: 100vh;
  border-right: 1px solid transparentize($color: #feca57, $amount: 0.9);
  // padding: 5px;

  ul.top-list{
    padding: 10px;
    border-bottom: 1px solid transparentize($color: #feca57, $amount: 0.9);

    li.sidebar-item {
      list-style: none;
      // font-size: 1.6em;
      padding: 7px 5px;
      background-color: transparentize($color: #ddd, $amount: 0.8);
      // margin: 5px;
      border-radius: 10px;
      box-shadow: 0 0 5px #000;
      cursor: pointer;
      opacity: 0.5;
      transition: 0.2s ease all;
      &:hover {
        opacity: 1;
      }
    }
  }
  h5.head{
    padding: 3px 10px;
  }
  ul.recent-sources {
    padding: 0;
    li.source-item {
      background-color: transparentize($color: #ddd, $amount: 0.8);
      padding: 10px;
      margin-bottom: 5px;
      cursor: pointer;
      opacity: .8;
      transition: .2s ease all;
      &:hover{
        opacity: 1;
      }
    }
  }
}
